/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfe0e2;
  font-family: sans-serif;
  color: #071013;
}

main {
  padding: 20px 40px;
}

/* NAV BAR */
.navRect {
  width: 100%;
  height: 130px;
  background-color: #507dbc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.nav a {
  color: #071013;
  text-decoration: none;
  font-size: 1.3rem;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}


/* HEADINGS */
.rectangle{
  width: calc(100% + 80px);
  margin: -20px -40px 20px -40px;
  height: 50px;
  background-color:#a1c5ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  color: #071013;
  text-decoration: none;
}

h4 {
  font-weight: normal;
}
.code-intro {
  padding: 10px
}
/* INTRO SECTION */
.intro-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.intro {
  flex: 1;
  line-height: 1.5;
}

.profile-pic {
  width: 225px;
  height: 225px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #507dbc;
}

@media (max-width: 600px) {
  .intro-section {
    flex-direction: column;
  }
}

/* PORTFOLIO GRID */
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px 0;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.project-item h4 {
  margin-top: 12px;
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 15px;
  margin-bottom:50px;
  padding: 10px 20px;
  background-color: #507dbc;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

